<meta charset="utf-8">
<div>
		<div class="jumbotron">
			<h3>{{app}}</h3>
			<div flash-message="10000"></div>
			<!-- componente directive -->
			<!-- <div ui-alert title="Ops, aconteceu um problema" message="error"></div> -->
			<ui-accordions>
				<ui-accordion title="Accordion 1">	
					Quentin Jacobsen tem uma paixão platônica pela magnífica vizinha e colega de escola Margo Roth Spiegelman. 
					Até que em um cinco de maio que poderia ter sido outro dia qualquer, ela invade sua vida pela janela de seu 
					quarto, com a cara pintada e vestida de ninja, convocando-o a fazer parte de um engenhoso plano de vingança. 
					E ele, é claro, aceita. 		
				</ui-accordion>
	
				<ui-accordion title="Accordion 2">		
					Quentin Jacobsen tem uma paixão platônica pela magnífica vizinha e colega de escola Margo Roth Spiegelman. 
					Até que em um cinco de maio que poderia ter sido outro dia qualquer, ela invade sua vida pela janela de seu 
					quarto, com a cara pintada e vestida de ninja, convocando-o a fazer parte de um engenhoso plano de vingança. 
					E ele, é claro, aceita. 			
				</ui-accordion>
				<ui-accordion title="Accordion 3">	
					Quentin Jacobsen tem uma paixão platônica pela magnífica vizinha e colega de escola Margo Roth Spiegelman. 
					Até que em um cinco de maio que poderia ter sido outro dia qualquer, ela invade sua vida pela janela de seu 
					quarto, com a cara pintada e vestida de ninja, convocando-o a fazer parte de um engenhoso plano de vingança. 
					E ele, é claro, aceita. 		
				</ui-accordion>
	
				<ui-accordion title="Accordion 4">		
					Quentin Jacobsen tem uma paixão platônica pela magnífica vizinha e colega de escola Margo Roth Spiegelman. 
					Até que em um cinco de maio que poderia ter sido outro dia qualquer, ela invade sua vida pela janela de seu 
					quarto, com a cara pintada e vestida de ninja, convocando-o a fazer parte de um engenhoso plano de vingança. 
					E ele, é claro, aceita. 			
				</ui-accordion>
			</ui-accordions>						
			<hr/>
			
			<input ng-show="contatos.length > 0" class="form-control" type="text" ng-model="criteriaDeBusca" placeholder="Informe o nome do contato.">
			<table ng-show="contatos.length > 0" class="table table-striped">
				<tr>
					<th></th>
					<th>Código</th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</th></a>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone</th></a>
					<th>Operadora</th>
					<th>Categoria</th>
					<th>Data</th>
					<th>Cor</th>
					<th>Ação</th>
					
				</tr>
				<tr ng-class="{'selecionado negrito':  contato.selecionado}" 
				   ng-repeat="contato in contatos | filter: {nome:criteriaDeBusca } 
				    | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td><a href="#/detalhesContato/{{contato.id}}">{{contato.id}}</a></td>
					<td>{{contato.nome | name | ellipsis:20}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome | uppercase}}</td>
					<td>{{contato.operadora.categoria}}</td>
					<td>{{contato.data | date :'dd/MM/yyyy HH:mm'}}</td>
					<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
					<td><button ng-show="contato.selecionado" ng-click="apagarContato(contato)" class="btn-group btn-group-xs btn-danger">
  						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button></td>
				</tr>
			</table>
			<hr />
			<a class="btn btn-primary" href="#/novoContato">Novo Contato</a>
			<button class="btn btn-danger" ng-click="apagarContatos(contatos)"
				ng-disabled="!isContatoSelecionado(contatos)">Pagar Contatos Memória</button>
		</div>
	</div>