<!DOCTYPE html>
<html >
<head>
<title>Agenda Telefônica com Angular</title>
<meta charset="utf-8">
</head>
<div class="jumbotron">
	<h3>{{title}}</h3>
	<table class="table table-striped">
		<tr>
			<th>Código</th>
			<th>Nome</th>
			<th>Telefone</th>
			<th>Operadora</th>
			<th>Categoria</th>
			<th>Data</th>
			<th>Cor</th>
		 <tr>
		 <tr>
			<td>{{contato.id}}</td>
			<td>{{contato.nome | name | ellipsis:20}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome | uppercase}}</td>
			<td>{{contato.operadora.categoria}}</td>
			<td>{{contato.data | date :'dd/MM/yyyy HH:mm'}}</td>
			<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
		</tr>
	</table>
		<hr/>
		<a class="btn btn-primary" href="#/contatos">Contatos</a>
	
</div>
</html>