.jumbotron {
	width: 800px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.table {
	margin-top: 20px;
}

.table th {
	text-align: center;
}

.form-control {
	margin-bottom: 5px;
}

.selecionado {
	background-color: aqua !important;
}

.negrito {
	font-weight: bold;
}

